<h3>Contents</h3>
<ol><li><a href="index.html">HubFlow: GitFlow For GitHub</a></li>
<ul>
<li><a href="index.html#introduction">Introduction</a></li>
<li><a href="index.html#what_we_cover">What We Cover</a></li>
<li><a href="index.html#licence">Licence</a></li>
</ul>
<li><a href="IntroducingGitFlow.html">Introducing GitFlow</a></li>
<ul>
<li><a href="IntroducingGitFlow.html#what_is_gitflow">What Is GitFlow?</a></li>
<li><a href="IntroducingGitFlow.html#key_benefits">Key Benefits</a></li>
<li><a href="IntroducingGitFlow.html#how_it_works">How It Works</a></li>
</ul>
<li><a href="TheHubFlowTools.html">HubFlow: The GitFlow Tools Adapted For GitHub</a></li>
<ul>
<li><a href="TheHubFlowTools.html#introduction">Introduction</a></li>
<li><a href="TheHubFlowTools.html#what_is_hubflow">What Is HubFlow?</a></li>
<li><a href="TheHubFlowTools.html#installing_hubflow">Installing HubFlow</a></li>
<li><a href="TheHubFlowTools.html#upgrading_hubflow">Upgrading HubFlow</a></li>
<li><a href="TheHubFlowTools.html#listing_the_available_commands">Listing The Available Commands</a></li>
</ul>
<li><a href="GitFlowForGitHub.html">Using GitFlow With GitHub</a></li>
<ul>
<li><a href="GitFlowForGitHub.html#introduction">Introduction</a></li>
<li><a href="GitFlowForGitHub.html#the_poster">The Poster</a></li>
<li><a href="GitFlowForGitHub.html#1_cloning_a_repo">1. Cloning A Repo</a></li>
<li><a href="GitFlowForGitHub.html#2_initialise_the_hubflow_tools">2. Initialise The HubFlow Tools</a></li>
<li><a href="GitFlowForGitHub.html#3_create_a_feature_branch">3. Create A Feature Branch</a></li>
<li><a href="GitFlowForGitHub.html#4_publish_the_feature_branch_on_github">4. Publish The Feature Branch On GitHub</a></li>
<li><a href="GitFlowForGitHub.html#5_keep_up_to_date">5. Keep Up To Date</a></li>
<li><a href="GitFlowForGitHub.html#6_collaborate_with_others">6. Collaborate With Others</a></li>
<li><a href="GitFlowForGitHub.html#7_merge_your_feature_into_develop_branch">7. Merge Your Feature Into Develop Branch</a></li>
<li><a href="GitFlowForGitHub.html#8_creating_releases">8. Creating Releases</a></li>
</ul>
<li><a href="Versioning.html">Versioning</a></li>
<ul>
<li><a href="Versioning.html#introduction">Introduction</a></li>
<li><a href="Versioning.html#semantic_versioning">Semantic Versioning</a></li>
<li><a href="Versioning.html#version_numbers_and_gitflow_branches">Version Numbers And GitFlow Branches</a></li>
</ul>
<li><a href="Examples.html">Examples</a></li>
<ul>
<li><a href="Examples.html#introduction">Introduction</a></li>
</ul>

</ol>
