<!DOCTYPE html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="The SOA testing tool from DataSift">
    <meta author="DataSift">

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="hornet.css" rel="stylesheet">
  </head>
  <body>
    <!-- facebook comments -->
    <div id="fb-root"></div>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '338583862880236', // App ID
        channelUrl : '{{ page.url }}/channel.html', // Channel File
        status     : true, // check login status
        cookie     : true, // enable cookies to allow the server to access the session
        xfbml      : true  // parse XFBML
      });

      // Additional initialization code here
    };

    // Load the SDK Asynchronously
    (function(d){
       var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement('script'); js.id = id; js.async = true;
       js.src = "//connect.facebook.net/en_US/all.js";
       ref.parentNode.insertBefore(js, ref);
     }(document));
  </script>

    <!-- top navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <img src="http://datasift.com/images/logo.png" class="pull-left" style="padding-top: 5px; padding-right: 10px;">
          <a href="http://datasift.github.com/" class="brand">Open Source Projects</a>
          {% include nav.html %}
        </div>
      </div>
    </div>

    <!-- rest of the page -->
    <div class="container-fluid page">
      <div class="row-fluid">
        <!-- sidebar -->
        <div class="span3 sidebar">
            <div class="sidebody">
                {% include sidebar.html %}
            </div>
        </div>
        <!-- main content -->
        <div class="span9 maincontent">
          <div class="nextbar nextbar-top">
            <ul class="nav nav-pills">
              <li class="prev">{{page.prev}}</li>
              <li class="next">{{page.next}}</li>
            </ul>
          </div>

          <!-- main content goes here -->
          {{ content }}

          <!-- facebook likes -->
          <div class="facebook-likes">
            <fb:like send="true" width="600" show_faces="false"></fb:like>
          </div>

          <div class="well">
            <!-- facebook comments -->
            <h2>Reader Comments And Feedback</h2>
            <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-num-posts="5" data-width="600"></div>
          </div>
          <div class="nextbar nextbar-bottom">
            <ul class="nav nav-pills">
              <li class="prev">{{page.prev}}</li>
              <li class="next">{{page.next}}</li>
            </ul>
          </div>
        </div> <!-- close body (main content area) -->
      </div> <!-- close fluid-row -->
    </div> <!-- close fluid container -->
  </body>
</html>