<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="The SOA testing tool from DataSift">
    <meta author="DataSift">

    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="hornet.css" rel="stylesheet">
  </head>
  <body>
    <!-- top navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <img src="http://datasift.com/images/logo.png" class="pull-left" style="padding-top: 5px; padding-right: 10px;">
          <a href="http://datasift.github.com/" class="brand">Open Source Projects</a>
          {% include nav.html %}
        </div>
      </div>
    </div>

    <!-- rest of the page -->
    <div class="container-fluid page">
      <div class="row-fluid">
        <!-- sidebar -->
        <div class="span3 sidebar">
            <div class="sidebody">
                {% include sidebar.html %}
            </div>
        </div>
        <div class="span9 maincontent">
            <!-- main content -->
            {{ content }}
        </div> <!-- close body (main content area) -->
      </div> <!-- close fluid-row -->
    </div> <!-- close fluid container -->
  </body>
</html>